@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
:root {
  --off-black: hsl(0, 0%, 5%);
  --off-white: hsl(0, 0%, 95%);
  --accent-color: hsl(0, 70%, 60%);
  --fg-color: var(--off-white);
  --bg-color: var(--off-black);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: hsl(0, 70%, 50%);
    --fg-color: var(--off-black);
    --bg-color: var(--off-white);
  }
}

* {
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--bg-color);
  color: var(--fg-color);
}

a {
  color: currentColor;
  text-decoration: none;
}
a:hover {
  color: var(--accent-color);
}

.content-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container {
  width: 100%;
  max-width: 62.5rem;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "main" "footer";
}
.grid-container > * {
  text-align: center;
}

header {
  grid-area: header;
}
header > h1 {
  margin-bottom: 0rem;
}
header > h2 {
  margin-top: 0rem;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
footer p {
  font-size: 0.8rem;
}

a.profile-photo-link {
  font-size: 0;
}
img.profile-photo {
  border: 2px solid currentColor;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 100%;
  background-size: cover;
}

nav {
  font-size: 0.8rem;
}
nav > ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem 1rem;
  list-style: none;
}
nav > ul > li > a {
  display: flex;
  align-items: center;
  /* text-transform: uppercase; */
  /* text-transform: lowercase; */
  gap: 0.25rem;
}

.icon {
  padding: 0.2rem;
  border-radius: 0.25rem;
  fill: var(--bg-color);
  background: currentColor;
  height: 24px;
  width: 24px;
}
