<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cal Jacobson</title>
    <meta name="description" content="Cal Jacobson" />
    <link rel="stylesheet" href="/static/styles/styles.css" />
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" />
    {% favicons 'src/assets/favicon.svg', appleIconPadding=0 %}
  </head>

  <body>
    <div class="content-center">
      <div class="grid-container">
        <header>
          <img class="profile-photo" src="/static/images/profile.png" alt="Photograph of Cal Jacobson" />

          <h1>Cal Jacobson</h1>
          <h2>Software Engineer</h2>

          <nav aria-label="Site Navigation">
            <ul>
              <li>
                <a href="/">
                  <object class="icon" data="/static/images/icons/Home.svg" type="image/svg+xml"></object>
                  Home
                </a>
              </li>
              <!-- TODO -->
              <!-- <li><a href="/about-me">About Me</a></li> -->
              <!-- <li><a href="/resume">Resume</a></li> -->
            </ul>
          </nav>
        </header>

        <main>
          <!-- TODO -->
        </main>

        <footer>
          <nav aria-label="Social Media">
            <ul>
              <li>
                <a href="https://github.com/cj81499">
                  <object class="icon" data="/static/images/icons/GitHub.svg" type="image/svg+xml"></object>
                  GitHub
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/cal-jacobson/">
                  <object class="icon" data="/static/images/icons/LinkedIn.svg" type="image/svg+xml"></object>
                  LinkedIn
                </a>
              </li>
              <li>
                <a href="https://twitter.com/cj81499">
                  <object class="icon" data="/static/images/icons/Twitter.svg" type="image/svg+xml"></object>
                  Twitter
                </a>
              </li>
              <li>
                <a rel="me" href="https://fosstodon.org/@cj81499">
                  <object class="icon" data="/static/images/icons/Mastodon.svg" type="image/svg+xml"></object>
                  Mastodon
                </a>
              </li>
              <li>
                <a href="https://stackoverflow.com/users/13173164/cj81499">
                  <object class="icon" data="/static/images/icons/StackOverflow.svg" type="image/svg+xml"></object>
                  StackOverflow
                </a>
              </li>
            </ul>
          </nav>

          <p>Cal Jacobson &copy; 2022</p>
        </footer>
      </div>
    </div>
  </body>
</html>
