<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cal Jacobson</title>
    <meta name="description" content="Cal Jacobson" />
    <link rel="stylesheet" href="/static/styles/styles.css" />
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" />
    {% favicons 'src/assets/favicon.svg', appleIconPadding=0 %}
  </head>

  <body>
    <div class="content-center">
      <div class="grid-container">
        <header>
          <a class="profile-photo-link" href="/static/images/profile.png">
            <img class="profile-photo" src="/static/images/profile.png" alt="Photograph of Cal Jacobson" />
          </a>

          <h1>Cal Jacobson</h1>
          <h2>Software Engineer</h2>

          <nav aria-label="Site Navigation">
            <ul>
              <li>
                <a href="/">{% include 'icons/Home.svg' %} Home</a>
              </li>
              <!-- TODO -->
              <!-- <li><a href="/about-me">About Me</a></li> -->
              <!-- <li><a href="/resume">Resume</a></li> -->
            </ul>
          </nav>
        </header>

        <main>
          <!-- TODO -->
        </main>

        <footer>
          <nav aria-label="Social Media">
            <ul>
              <li>
                <a href="https://github.com/cj81499">{% include 'icons/GitHub.svg' %} GitHub</a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/cal-jacobson/">{% include 'icons/LinkedIn.svg' %} LinkedIn</a>
              </li>
              <li>
                <a href="https://twitter.com/cj81499">{% include 'icons/Twitter.svg' %} Twitter</a>
              </li>
              <li>
                <a rel="me" href="https://fosstodon.org/@cj81499">{% include 'icons/Mastodon.svg' %} Mastodon</a>
              </li>
              <li>
                <a href="https://stackoverflow.com/users/13173164/cj81499"
                  >{% include 'icons/StackOverflow.svg' %} StackOverflow</a
                >
              </li>
            </ul>
          </nav>

          <p>Cal Jacobson &copy; {{ constants.NOW.getFullYear() }}</p>
        </footer>
      </div>
    </div>
  </body>
</html>
